.changepass-page{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 992px) {
    .changepass-display{
        width: 40%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        border: 1px solid gray;
        box-shadow: 10px 10px 5px rgba(125, 123, 123, 0.158) ;
    }
.changepass-display h3{
    font-size: 30px;
    margin: 25px 0;

}
.old-password{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    /* background-color: green; */
    width: 60%;
    top: 30%;
}
.old-password input{
    padding: 7px 11px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px;
    outline: none;
    width: 100%;
}
.btn-changepass{
    /* background-color: red; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
}
@media only screen and (max-width: 600px){
    .changepass-display{
        width: 60%;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        border: 1px solid gray;
        box-shadow: 10px 10px 5px rgba(125, 123, 123, 0.158) ;
    }
.changepass-display h3{
    font-size: 26px;
    margin: 25px 0;

}
.old-password{
    display: flex;
    flex-direction: column;
    font-size: 100%;
    /* background-color: green; */
    width: 70%;
    top: 20%;
}
.old-password input{
    padding: 7px 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px 0;
    outline: none;
    width: 100%;
}
.btn-changepass{
    /* background-color: red; */
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
}