.student-profile{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border: 1px solid gray;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #9f9aa054;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .student-profile_title{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .student-profile_title h1{
        font-size: 150%;
    }
    .student-profile_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;  
    }
    .stu-avatar_detail{
        width: 40%;
        display: flex;
        justify-content: center;
        margin:  10px;
    }
    .stu-avatar_detail img{
        width: 120px;
        height: 120px;
    }
    .stu_detail{
        width: 70%;
        font-size: 100%;
    }
    .stu_detail h3{
        display: flex;
        justify-content: center;
        font-size: 150%;
    }
    .stu_detail p{
        padding-left: 10px;
    }
    hr{
        border: 1px solid gray;
        margin: 5px 0;
        width: 100%;
    }
    .stu_bio{
        width: 100%;
        /* background-color: red; */
        display: flex;
        padding-top: 10px;
    }
    .stu_bio p{
        font-size: 90%;
        width: 25%;
        /* padding-left: 10px; */
    }
    .bio_detail{
        width: 80%;
        height: 200px;
        margin-bottom: 30px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
    }
    .modal-detail_bio{
        padding-top: 10px;
    }
    .back-btn{
        color: black;
        margin-left: 10px;
        text-decoration: none;
        font-size: 20px;
        border: none;
        background-color: inherit;
    }
}
@media only screen and (min-width: 600px) {
    .student-profile_title{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .student-profile_title h1{
        font-size: 200%;
    }
    .student-profile_body{
        display: flex;
        justify-content: space-around;
        width: 100%;  
    }
    .stu-avatar_detail{
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 30px 10px;
    }
    .stu-avatar_detail img{
        width: 150px;
        height: 150px;
    }
    .stu_detail{
        width: 60%;
        font-size: 90%;
    }
    .stu_detail h3{
        display: flex;
        justify-content: center;
        font-size: 150%;
    }
    .stu_detail p{
        padding-left: 20px;
    }
    hr{
        border: 1px solid gray;
        margin: 5px 0;
        width: 90%;
    }
    .stu_bio{
        width: 90%;
        /* background-color: red; */
        display: flex;
        padding-top: 10px;
    }
    .stu_bio p{
        font-size: 90%;
        width: 20%;
        /* padding-left: 10px; */
    }
    .bio_detail{
        width: 80%;
        height: 200px;
        margin-bottom: 30px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
    }
    .modal-detail_bio{
        padding-top: 10px;
    }
    .back-btn{
        color: black;
        margin-left: 10px;
        text-decoration: none;
        font-size: 20px;
        border: none;
        background-color: inherit;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .student-profile_title{
        /* background-color: red; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px 0;
    }
    .student-profile_title h1{
        font-size: 300%;
    
    }
    .student-profile_body{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
        
    }
    .stu-avatar_detail{
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .stu-avatar_detail img{
        width: 220px;
        height: 220px;
    }
    .stu_detail{
        width: 60%;
        font-size: 120%;
    }
    .stu_detail h3{
        display: flex;
        justify-content: center;
    }
    .stu_detail p{
        padding-left: 20px;
    
    }
    hr{
        border: 1px solid gray;
        margin: 10px 0;
        width: 90%;
    }
    .stu_bio{
        width: 90%;
        /* background-color: red; */
        display: flex;
        padding-top: 20px;
    }
    .stu_bio p{
        font-size: 120%;
        width: 20%;
        padding-left: 60px;
    }
    .bio_detail{
        /* background-color: red; */
        
        width: 80%;
        height: 200px;
        margin-bottom: 30px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
    }
    .modal-detail_bio{
        padding-top: 10px;
    }
    .back-btn{
        color: black;
        margin-left: 10px;
        text-decoration: none;
        font-size: 20px;
        border: none;
        background-color: inherit;
    }
}