.container-fluid{
    
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: #773f85c4;
}
.header_name{
    font-size: 32px;
}
.header_menu{
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-nav li {
    display: inline;
    font-size: 20px;
}

.navbar-nav li a {
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.user-displayname a{
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
}
.user-displayname a:hover{
    color: black;
}
.liststudents-display{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.listusers-table{
    margin: 0 200px;
    padding: 0 50px;
}
#admin {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    
  }
  #admin tr:nth-child(odd){background-color: #f2f2f2;}
  #admin td, #admin th {
    border: 1px solid #a1a0a0;
    padding: 5px;
  }
  #admin tr:hover {background-color: #c7c6c6;}
  
  #admin td:first-child{
      width: 5%;
  }
  #admin th:first-child{
      width: 5%;
  }
  #admin td:nth-child(2){
      width: 15%;
  }
  #admin th:nth-child(2){
      width: 15%;
  }
  #admin td:nth-child(3){
      width: 30%;
  }
  #admin th:nth-child(3){
      width: 30%;
  }
  #admin td:nth-child(4){
      width: 10%;
  }
  #admin th:nth-child(4){
      width: 10%;
  }
  #admin td:nth-child(5){
      width: 25%;
  }
  #admin th:nth-child(5){
      width: 25%;
  }
  #admin td:nth-child(6){
      width: 15%;
  }
  #admin th:nth-child(6){
      width: 15%;
  }
  .fa-magnifying-glass{
    color: black;
  }
  .add-form{
    position: fixed;
    width: 700px; 
    border-radius: 10px;
    box-shadow: 10px 10px 5px #99999928 ;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -225px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #504f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .add__form{
    display: flex;
    flex-direction: column;
  }
  .edit-form{
    position: fixed;
    width: 700px; 
    border-radius: 10px;
    box-shadow: 10px 10px 5px #99999928 ;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -225px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #504f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-display{
    position: fixed;
    width: 700px; 
    border-radius: 10px;
    box-shadow: 10px 10px 5px #a73f9028 ;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -225px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #a163949a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stu_avatar{
    width: 115px;
    height: 150px;
    background-color: red;
  }
  