.signup-display{
    /* background-color: red; */
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid gray;
}
.signup-in {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* background-color: red; */
    }

.signup-in__title h1{
    /* background-color: black; */
    font-size: 50px;
    margin: 20px 0;
}

.signup-in__form {
    display: flex;
    flex-direction: column;
    font-size: 120%;
    /* background-color: green; */
    width: 60%;
    top: 30%;
}
    
.signup-in__form   input {
    padding: 7px 11px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 10px;
    outline: none;
}
.btn-signup{
    margin: 20px 0;
}
.notify-p{
    color: red;
}
    